*{
    font-family: Arial, Helvetica, sans-serif;
}
.title1{
    font-size: 20px;
    font-weight: 300;
    position: relative;
    top: 30px;
    left: 30px;
}
hr{
    width: 30px;
    float: left;
    position: relative;
    left :30px;
    top:10px;
    background-color :#fcb739;
    color: #fcb739;
    height:2px;
    border-width:0;

}
.contact{
    background-color: #dadada;
    margin: auto;
}
.content{
    display: grid;
    width: 80%;
    height: auto;
    grid-template-columns: 35% 65%;
    column-gap: 30px;
    padding: 10px;
    
}
.locate ,.mail, .number{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
i{
    opacity: 0.7;
    position: relative;
    top: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    top: 20px;
}
.fa-solid{
    font-size: 22px;
}
.info .title2 {
    opacity: 1;
    font-size: 16px;
    font-weight:500;
}
.info p {
    opacity: 0.7;
    font-size: 14px;
}
.title3{
    font-size:16px ;
    font-weight:500;

}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type=text], textarea{
    width: 100%;
    opacity: 0.8;
    border: none;
    outline: none;
}
.name, .email, .subject, .message{
    font-size: 13px;
    padding: 10px;
}
.box-1{
    width: 100%;
}
.btn1{
    color: white;
    background-color: #30b8b6;
    border: none;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    margin: 20px 0px;
}
.btn1:hover{
    opacity: 0.7;
}
@media only screen and (max-width:426px) {
    .info p {
        font-size: 14px;
        
    }
    .info{
        max-width: 100%;
    }
    .content{
        display: grid;
        height: auto;
        grid-template-columns: 100%;
        padding: 10px;
        gap:20px;
    }
    .fa-solid{
        font-size: 16px;
    }
    .name, .email, .subject, .message{
        font-size: 14px;
        padding: 5px;
        height: 30px;
    }
    .message{
        padding-bottom: 80px;
    }
    .btn1{
        width: 104%;
        padding: 15px;
    }

}
@media only screen and (min-width:425px)and (max-width:625px) {
    .info p {
        font-size: 14px;
    }
    .info{
        max-width: 100%;
    }
    .content{
        display: grid;
        height: auto;
        grid-template-columns: 100%;
        gap:20px;
        
        padding: 10px;
    }
    .fa-solid{
        font-size: 16px;
    }
    .name, .email, .subject, .message{
        font-size: 14px;
        padding: 5px;
        height: 30px;
    }
    .message{
        padding-bottom: 80px;
    }
    .btn1{
        width: 60%;

    }
}
@media only screen and (min-width:625px)and (max-width:1024px) {
    .info{
        max-width: 100%;
    }
}