*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns: auto auto auto;
    font-size: 16px;
    grid-gap: 20px;
}
.items h2{
    margin: 20px 0; 
}
.items p{
    opacity : 0.7; 
    margin-bottom: 20px;
}
.items{
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 0px;

}

i{
    color: #339999;
    background-color: #f8f8f8;
    border-radius: 50%;
    border: 2px solid #339999;
    padding: 18px;
    font-size: 26px;
    margin-top: 20px;
}
 @media only screen and (max-width:600px) {
    .container{
        display: grid;
        grid-template-columns: auto;
        
    }
    .items h2{
        font-size: 22px;
    }
    .items p{
        font-size: 14px;
        margin-bottom: 20px;
    }

    i{
        font-size: 18px;
        margin-top: 20px;
    }
}

@media only screen and (min-width:600px) and (max-width:992px) {
    .container{
        display: grid;
        grid-template-columns: auto auto;
        
    }
    .items h2{
        font-size: 22px;
    }
    .items p{
        font-size: 14px;
        margin-bottom: 20px;
    }

    i{
        font-size: 18px;
        margin-top: 20px;
    }
}
