*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.title{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}
.container{
    border: 2px solid #eeeeee;
    display: block;
    width: 60%;
    margin: auto;
    padding:  20px;
}

input[type=text] {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #ddd inset;
    font-size: 14px;
    
    margin-bottom: 10px;
    height: 40px;
}
#fullName{
    
    width: 45%;
    padding:5px;
}
#email{
    float:right;
    position: relative;
    left:12px;
    
    width: 45%;
    padding:5px;

}
#subject{
    margin-bottom: 10px;
    width: 100%;
    padding:5px;
}
#mess{
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 200px;
    width: 100%;
    
}
.btn{
    background-color: #7dcefd;
    border: 1px solid #59a8d5;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    min-width: 125px;
    padding: 11px 10px;
    text-align: center;
}
.btn:hover{
    opacity: 0.7;
}
.plus{
    position: relative;
    top:-10px;
    opacity: 0.6;
    float: right;
    font-size: 12px;
    /* margin-bottom: 5px; */
}
@media only screen and (max-width:600px) {
    .container{
        width: 80%;
    }
    .title{
        font-size:14px;
    }
    input[type=text] {
        border: 1px solid #eeeeee;
        font-size: 12px;
    }
    #fullName{
        width: 100%;
    }
    #email{
        width: 100%;
        
    }
    #mess{
        padding-bottom: 100px;
    }
    
    .btn{
        padding: 14px 14px;
        font-size: 14px;
        width: 100%;
    }
    .plus{
        font-size: 10px;
    }
}
/* @media only screen and (min-width:425px)and (max-width:625px) {
    .title{
        font-size:16px;
    }
    input[type=text] {
        border: 1px solid #eeeeee;
        font-size: 12px;
    }
    #fullName{
        width: 100%;
    }
    #email{
        width: 100%;
        
    }
    #mess{
        padding-bottom: 100px;
    }
    button{
        position: relative;
        width: 60%;
        left: 20%;
    }
    .btn{
        padding: 7px 14px;
        font-size: 10px;
    }
    .plus{
        font-size: 10px;
    }
}
@media only screen and (min-width:626px)and (max-width:825px) {
    button{
        position: relative;
        width: 60%;
        left: 20%;
    }
} */