*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}
.container{
    border: 2px solid #eeeeee;
    display: block;
    width: 60%;
    margin: auto;
    padding:  20px;
}
.input-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-1{
    display: grid;
    grid-template-columns: auto auto;
    
}
input[type=text] ,textarea{
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #ddd inset;
    font-size: 14px;
    height: 40px;
}
textarea{
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #ddd inset;
    font-size: 14px;
}
#fullName{
    
    width: 95%;
    padding-left: 5px;
}
#email{
    width: 100%;
    padding-left: 5px;

}
#subject{
    width: 100%;
    padding-left: 5px;
}
#mess{
    padding: 5px 0 0 5px;
    height: 30vh;
    width: 100%;
    resize: none;
    
}
/* textarea{
    resize: none;
} */
.btn{
    background-color: #7dcefd;
    border: 1px solid #59a8d5;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    min-width: 125px;
    padding: 11px 10px;
    text-align: center;
    margin-top: 10px;
}
.btn:hover{
    opacity: 0.7;
}
.plus{
    position: relative;
    top:0px;
    opacity: 0.6;
    float: right;
    font-size: 12px;
    margin: 0;
    /* margin-bottom: 5px; */
}
@media only screen and (max-width:600px) {
    .container{
        width: 100%;
    }
    .box-1{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;  
    }
    .title{
        font-size:14px;
    }
    input[type=text] {
        border: 1px solid #eeeeee;
        font-size: 13px;
    }
    #fullName{
        width: 100%;
    }
    #email{
        width: 100%;
        
    } 
    .btn{
        padding: 14px 14px;
        font-size: 14px;
        width: 100%;
    }
    .plus{
        font-size: 13px;
    }
}
@media only screen and (min-width:600px)and (max-width:768px) {
    .container{
        width: 100%;
    }
    .box-1{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;  
    }
    #fullName{
        width: 100%;
    }
} 