*{
    box-sizing: border-box;
    font-family: Helvetica,sans-serif;
    padding: 0;
    margin: 0;
}
body{
    font-size: 14px;
}
a{
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    color:white;
    background:#e2523c ;
    border-radius: 4px;
    font-size: 16px;
    opacity: 1;
    padding: 16px 14px;
}
a:hover{
    opacity: 0.8;
}
.content{
    width: 100%;
    position: relative;
    text-align: center;
    color: white;

    padding: 80px 0 60px;
    background: url("./bg_special.png") left top;
}
.title{
    font-size: 22px;
    margin: 20px 0;
}
.scp{
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 30px;
}
/* @media only screen and (max-width:425px) {
    .content{
        height: 250px;
        width: 100%;
        padding-top: 10px;
        padding-left:5px ;
        padding-right: 5px;
    }
    .title{
        font-size: 18px;
    }
    .scp{
        font-size: 12px;
        margin-bottom: 20px;
    }
    a{
        font-size:12px ;
        padding: 7px;
    }
}
@media only screen and (min-width:425px)and (max-width:725px) {
    .title{
        font-size: 20px;
    }
    .scp{
        font-size: 14px;
        margin-bottom: 40px;
    }
    a{
        font-size:15px ;
        padding: 8px;
    }
} */
