#all{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
    width: 100px;
    height: 100px;
    padding:10px ;
    
    text-align: center;
}
span{
    
    width: 100px;
    height: 100px;
    padding:10px ;
    
    text-align: center;
}
.odd{
    background-color:red;
    
}
.even{
    background-color:aqua;
    
}

@media only screen and (max-width:424px)  {
    .odd{
        background-color:red;
        width: 20px;
    }
    .even{
        background-color:aqua;
        width: 30px;
    }
}
@media only screen and (min-width:425px) and (max-width:768px){
    .odd{
        background-color: yellow ;
        width: 20px;
    }
    .even{
        background-color:red ;
        width: 50px;
    }
}
@media only screen and (min-width:768px) and (max-width: 992px) {
    .odd{
        background-color: hsl(254, 81%, 27%) ;
        width: 30px;
    }
    .even{
        background-color: yellow;
        width: 40px;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px)  {
    .odd{
        background-color: yellow ;
        width: 30px;
    }
    .even{
        background-color: violet;
        width: 40px;
    }
}
@media (width:1200px)  {
    .odd{
        background-color: violet;
        width: 50px;
    }
    .even{
        background-color: pink;
        width: 100px;
    }
}
