
li,span {
    display: inline-block;
    width: 100px;
    height: 80px;
}
ul {
    padding: 0;
}
li:nth-child(2n+1),span:nth-child(2n+1){
    background-color: red; 
}
li:nth-child(2n),span:nth-child(2n) {
    background-color: blue;
}

@media only screen and (max-width:320px){
    li:nth-child(2n+1),span:nth-child(2n+1) {
        width: 20px;
        background-color: red;
    }
    li:nth-child(2n),span:nth-child(2n) {
        width: 30px;
        background-color: blue;
    } 
}
@media only screen and (min-width:321px) and (max-width:425px) {
    li:nth-child(2n+1),span:nth-child(2n+1){
        width: 20px;
        background-color: yellow;
    }
    li:nth-child(2n),span:nth-child(2n) {
        width: 50px;
        background-color: red;
    } 
}
@media only screen and (min-width:426px) and (max-width:768px) {
    li:nth-child(2n+1),span:nth-child(2n+1) {
        width: 30px;
        background-color: rgb(23, 23, 114)
    }
    li:nth-child(2n),span:nth-child(2n) {
        width: 40px;
        background-color: yellow;
    } 
}
@media only screen and (min-width:769px) and (max-width:992px) {
    li:nth-child(2n+1),span:nth-child(2n+1) {
        width: 30px;
        background-color: yellow;
    }
    li:nth-child(2n),span:nth-child(2n) {
        width: 40px;
        background-color: violet;
    } 
}
@media only screen and (min-width:992px) and (max-width:1200px) {
    li:nth-child(2n+1),span:nth-child(2n+1) {
        width: 50px;
        background-color: violet;
    }
    li:nth-child(2n),span:nth-child(2n) {
        width: 100px;
        background-color: pink;
    } 
}