*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body {
    color: #aeaeae;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
.container {
    width: 65%;
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:start;
    margin: auto;
}
h1{
    color: #000;
    font-size: 27px;
    margin-bottom: 20px;
}
/* .intro p{
    margin-bottom: 23px;
} */
.intro{
    width: 100%;
    
}
.intro p{
    opacity: 0.8;
}
.list-items{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns:  calc(100%/3) calc(100%/3) calc(100%/3);
    row-gap: 10px;
    font-size: 15px;
}
.items{
    width: 100%;
}
i{
    font-size: 16px;
    color: #c5da3a;
}
 @media only screen and (max-width:425px) {
    .container {
        width: 90%;
        height: 110vh;
    }
    .intro h1{
        font-size: 22px;
    }
    .intro p{
        font-size: 14px;
    }
    .list-items{
        display: grid;
        grid-template-columns: auto ;
        row-gap: 8px;
        width: 100%;
    }
    .items{
        font-size: 14px;
    
        width: 100%;
        
    }
    i{
        font-size: 14px;
        
    }
}
@media only screen and (min-width:425px) and (max-width:600px) {
    .container {
        width: 80%;
        height: 106vh;
    }
    .intro h1{
        font-size: 22px;
    }
    .intro p{
        font-size: 14px;
    }
    .list-items{
        display: grid;
        grid-template-columns: auto ;
        row-gap: 8px;
        width: 100%;
    }
    .items{
        font-size: 14px;
    
        width: 100%;
        
    }
    i{
        font-size: 14px;
        
    }
}

 @media only screen and (min-width:600px) and (max-width:800px) {
    .container {
        height: 75vh;
    }
    .intro h1{
        font-size: 27px;
    }
    .intro p{
        font-size: 14px;
    }
    .list-items{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
        width: 100%;
    }
    .items{
        font-size: 14px;
        width: 100%;
    }
}/*
@media only screen and (min-width:768px) and (max-width:1200px) {
    .list-item{
        width: 60%;
        font-size: 14px;

    }
    .items{
        width: 160px;
    }
}
 */ 
