*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    width: 45%;
    margin: auto;
    background-color:#f2f3f5 ;
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
}
.items {
    display: flex;
    /* margin:0px 20px;  */
    /* margin-bottom: 30px; */

    padding-bottom: 30px;
    border-bottom: 1px dashed #f44336;
}
.items:last-child{
    border: none;
    padding-bottom: 0px;
    margin-bottom: 20px;

}
.left-content{
    display: inline-block;
    padding:10px 20px 10px;
    margin-right: 20px;
    font-size:70px;
    font-weight: thin;
    color: #fff;
    background-color: #d997de;
    border-radius: 5px;
}
.right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 620px;
}
.title {
    color: #1f1f1f;
    font-size: 24px;
    font-weight:600;
    
}
.scp{
    font-size: 16px;
    opacity: 0.6;
}
 @media only screen and (max-width:600px) {
    .container{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .items{
        display: flex;
        flex-direction: column;
        
       
    }
    .left-content{
        padding:6px 12px 6px;
        width: 30px;
        font-size:40px;
        margin: 0 auto 10px auto;
        
        
    }
    .right-content{
        width: 100%;
        gap: 10px;
    }
    .title {
        font-size: 22px;
        text-align: center;
    }
    .scp{
        font-size: 14px;
    }
}
@media only screen and (min-width:600px) and (max-width:992px) {
    .container{
        width: 70%;
    }
    .items{
        display: flex;
        
    }
    .left-content{
        padding:16px 22px;
        height: 45px;
        width: 30px;
        font-size:40px;
        margin-right:  20px;
        
        
    }
    .right-content{
        width: 100%;
        gap: 10px;
    }
    .title {
        font-size: 22px;
        
    }
    .scp{
        font-size: 16px;
    }
}
@media only screen and (min-width:992px) {
    .left-content{
        height: 75px;
    }
}