*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: inline-block;
    width: 100%;
    height: auto;
    
}
.item{
    display: grid;
    grid-template-columns: 50% 50%;
}

.title{
    font-size: 32px;
    opacity: 0.7;
}
.nd{
    font-size: 16px;
    opacity: 0.7;
}


.scp1, .scp2{
    width: 70%;
    height: 40%;
    line-height: 28px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.scp2{
    padding-bottom: 30px;
}
.btn1{
    padding: 10px;
    background-color: #75bee1;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.btn2{
    padding: 10px;
    background-color: #95d075;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.btn1:hover , .btn2:hover{
    opacity: 0.7;
}
.image-1, .image-2{
    height: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    left: 50%;
}

hr{
    width: 80%;
}
@media only screen and (max-width: 426px){
    .item{
        display: grid;
        grid-template-columns: auto;
    }
    .title{
        font-size: 16px;
    }
    .nd{
        font-size: 8px;
    }
    .scp1, .scp2{
        line-height: 13px;
        margin-bottom: 20px;
    }
    .image-1, .image-2{
        margin-top: 30px;
        width: 120px;
        height: auto;
    }
    .btn1, .btn2{
        font-size: 8px;
    }
}
@media only screen and (min-width:426px)and (max-width:768px) {
    .title{
        font-size: 18px;
    }
    .nd{
        font-size: 10px;
    }
    .scp1, .scp2{
        line-height: 15px;
        margin-bottom: 20px;
    }
    .image-1, .image-2{
        margin-top: 30px;
        width: 150px;
        height: auto;
    }
    .btn1, .btn2{
        font-size: 10px;
    }
}
@media only screen and (min-width:768px)and (max-width:1024px) {
    .title{
        font-size: 28px;
    }
    .nd{
        font-size: 14px;
    }
    .image-1, .image-2{
        width: 320px;
        height: auto;
    }
    
}